/* flexbox, padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}
.header {
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
}
.header-main {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}
.header-text {
    display: flex;
    flex-direction: column;
    flex:1;
    padding-right: 40px;
    padding-left: 100px;
}
.header-heading {
    padding: 4px 0;
}
.header-para {
    padding: 20px 0;
}
.header-image {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    gap: 20px;
}
.sign-up {
    display: flex;
    height: 20px;
    width: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
main {
    display: flex;
    flex-direction: column;
}
.main-one {
    display: fle;
    flex-direction: column;
    padding: 0px 200px;
}
.main-first-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.random-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-bottom: 140px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
}
.main-two {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 80px 400px;
}
.author {
    display: flex;
    flex-shrink:10 10;
}
.main-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.container {
    display: flex;
    padding: 60px 200px;
}
.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}
.button {
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
/* color, font, background and decoration */
body {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
}
header,footer {
    background-color: #1f2937;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.header-heading {
    font-size: 48px;
    font-weight: 900px;
}
.header-subheading {
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 600;
}
.header-para {
    font-size: 18px;
    color: #e5e7eb;
}
.header-image {
    background-color: #1f2937;
}
.header-logo {
    font-size: 24px;
    font-weight: 900;
}
.sign-up {
    background-color: #3882f6;
    font-weight: 900;
}
main {
    color: #1f2937;
}
.main-first-heading {
    font-size: 36px;
    font-weight: 900;
}
.card-image {
    height: 200px;
    width: 200px;
    border: #3882f6 solid 4px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-text {
    text-align: center;
    color: #1f2937
}
.main-two {
    background-color: #e5e7eb;
    font-size: 32px;
    font-family: light;
    font-style: italic;
    color: #1f2937;
}
.author {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    font-weight: 900;
    font-size: 18px;
}
.container {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
}
.container-right {
    font-weight: 700;
    border: white solid 2px;
    border-radius: 8px;
}
.container-heading {
    font-weight: 900;
    font-size: 20px;
}
.button {
    color: white;
}